## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("Resources/charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df=df.drop(["EIN","NAME"],axis=1)

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
group1=df.groupby("APPLICATION_TYPE")["AFFILIATION"].count()
d1=group1.to_dict()
def cutoff(dict,cf):
    dk=dict.keys()
    dv=dict.values()
    kl=[]
    for i in dk: 
        if(dict[i]>cf):
            kl.append(i)
    return(kl)
d1

{'T10': 528,
 'T12': 27,
 'T13': 66,
 'T14': 3,
 'T15': 2,
 'T17': 1,
 'T19': 1065,
 'T2': 16,
 'T25': 3,
 'T29': 2,
 'T3': 27037,
 'T4': 1542,
 'T5': 1173,
 'T6': 1216,
 'T7': 725,
 'T8': 737,
 'T9': 156}

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cf=1000

application_types_to_replace=cutoff(d1,cf)


# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

Other    32033
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
group2=df.groupby("CLASSIFICATION")["AFFILIATION"].count()
d2=group2.to_dict()
d2

{'C0': 3,
 'C1000': 17326,
 'C1200': 4837,
 'C1230': 36,
 'C1234': 2,
 'C1235': 9,
 'C1236': 1,
 'C1237': 9,
 'C1238': 10,
 'C1240': 30,
 'C1245': 1,
 'C1246': 2,
 'C1248': 1,
 'C1250': 14,
 'C1256': 2,
 'C1257': 5,
 'C1260': 3,
 'C1267': 2,
 'C1270': 114,
 'C1278': 10,
 'C1280': 50,
 'C1283': 1,
 'C1300': 58,
 'C1370': 1,
 'C1400': 34,
 'C1500': 16,
 'C1570': 1,
 'C1580': 1,
 'C1600': 5,
 'C1700': 287,
 'C1720': 6,
 'C1728': 1,
 'C1732': 1,
 'C1800': 15,
 'C1820': 1,
 'C1900': 1,
 'C2000': 6074,
 'C2100': 1883,
 'C2150': 1,
 'C2170': 1,
 'C2190': 1,
 'C2300': 32,
 'C2380': 1,
 'C2400': 6,
 'C2500': 1,
 'C2561': 1,
 'C2570': 1,
 'C2600': 1,
 'C2700': 104,
 'C2710': 3,
 'C2800': 95,
 'C3000': 1918,
 'C3200': 2,
 'C3700': 1,
 'C4000': 194,
 'C4100': 6,
 'C4120': 1,
 'C4200': 1,
 'C4500': 1,
 'C5000': 116,
 'C5200': 1,
 'C6000': 15,
 'C6100': 1,
 'C7000': 777,
 'C7100': 75,
 'C7120': 18,
 'C7200': 32,
 'C7210': 7,
 'C8000': 20,
 'C8200': 11,
 'C8210': 1}

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace=cutoff(d2,300)

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

Other    32815
C1700      287
C4000      194
C5000      116
C1270      114
         ...
C8210        1
C1245        1
C4120        1
C1580        1
C1236        1
Name: CLASSIFICATION, Length: 66, dtype: int64

In [9]:
df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
df=pd.get_dummies(df)
df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y=df["IS_SUCCESSFUL"]
X=df.drop("IS_SUCCESSFUL",axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation="tanh", input_dim=len(X_train_scaled[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=13, activation="tanh"))
nn.add(tf.keras.layers.Dense(units=13, activation="tanh"))
nn.add(tf.keras.layers.Dense(units=10, activation="tanh"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                1728
_________________________________________________________________
dense_1 (Dense)              (None, 15)                255
_________________________________________________________________
dense_2 (Dense)              (None, 13)                208
_________________________________________________________________
dense_3 (Dense)              (None, 13)                182
_________________________________________________________________
dense_4 (Dense)              (None, 10)                140
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 11
=================================================================
Total params: 2,524
Trainable params: 2,524
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 949us/step - loss: 0.5988 - accuracy: 0.7010
Epoch 2/100
804/804 [==============================] - 1s 866us/step - loss: 0.5900 - accuracy: 0.7099
Epoch 3/100
804/804 [==============================] - 1s 874us/step - loss: 0.5881 - accuracy: 0.7117
Epoch 4/100
804/804 [==============================] - 1s 862us/step - loss: 0.5872 - accuracy: 0.7116
Epoch 5/100
804/804 [==============================] - 1s 879us/step - loss: 0.5858 - accuracy: 0.7129
Epoch 6/100
804/804 [==============================] - 1s 818us/step - loss: 0.5854 - accuracy: 0.7128
Epoch 7/100
804/804 [==============================] - 1s 866us/step - loss: 0.5848 - accuracy: 0.7123
Epoch 8/100
804/804 [==============================] - 1s 804us/step - loss: 0.5841 - accuracy: 0.7123
Epoch 9/100
804/804 [==============================] - 1s 811us/step - loss: 0.5841 - accuracy: 0.7127
Epoch 10/100
804/804 [==============================] - 1s 816us/step - loss: 0.5837 - accuracy: 0.7126
Epoch 11/100
804/804 [==============================] - 1s 813us/step - loss: 0.5832 - accuracy: 0.7126
Epoch 12/100
804/804 [==============================] - 1s 824us/step - loss: 0.5828 - accuracy: 0.7140
Epoch 13/100
804/804 [==============================] - 1s 803us/step - loss: 0.5825 - accuracy: 0.7143
Epoch 14/100
804/804 [==============================] - 1s 802us/step - loss: 0.5821 - accuracy: 0.7140
Epoch 15/100
804/804 [==============================] - 1s 823us/step - loss: 0.5819 - accuracy: 0.7140
Epoch 16/100
804/804 [==============================] - 1s 798us/step - loss: 0.5815 - accuracy: 0.7146
Epoch 17/100
804/804 [==============================] - 1s 801us/step - loss: 0.5813 - accuracy: 0.7142
Epoch 18/100
804/804 [==============================] - 1s 808us/step - loss: 0.5805 - accuracy: 0.7156
Epoch 19/100
804/804 [==============================] - 1s 811us/step - loss: 0.5806 - accuracy: 0.7149
Epoch 20/100
804/804 [==============================] - 1s 818us/step - loss: 0.5805 - accuracy: 0.7138
Epoch 21/100
804/804 [==============================] - 1s 812us/step - loss: 0.5802 - accuracy: 0.7158
Epoch 22/100
804/804 [==============================] - 1s 798us/step - loss: 0.5802 - accuracy: 0.7164
Epoch 23/100
804/804 [==============================] - 1s 804us/step - loss: 0.5799 - accuracy: 0.7158
Epoch 24/100
804/804 [==============================] - 1s 809us/step - loss: 0.5794 - accuracy: 0.7162
Epoch 25/100
804/804 [==============================] - 1s 816us/step - loss: 0.5795 - accuracy: 0.7151
Epoch 26/100
804/804 [==============================] - 1s 802us/step - loss: 0.5793 - accuracy: 0.7163
Epoch 27/100
804/804 [==============================] - 1s 814us/step - loss: 0.5792 - accuracy: 0.7147
Epoch 28/100
804/804 [==============================] - 1s 821us/step - loss: 0.5789 - accuracy: 0.7149
Epoch 29/100
804/804 [==============================] - 1s 813us/step - loss: 0.5789 - accuracy: 0.7172
Epoch 30/100
804/804 [==============================] - 1s 808us/step - loss: 0.5788 - accuracy: 0.7150
Epoch 31/100
804/804 [==============================] - 1s 823us/step - loss: 0.5785 - accuracy: 0.7156
Epoch 32/100
804/804 [==============================] - 1s 818us/step - loss: 0.5787 - accuracy: 0.7152
Epoch 33/100
804/804 [==============================] - 1s 824us/step - loss: 0.5786 - accuracy: 0.7169
Epoch 34/100
804/804 [==============================] - 1s 801us/step - loss: 0.5781 - accuracy: 0.7157
Epoch 35/100
804/804 [==============================] - 1s 808us/step - loss: 0.5782 - accuracy: 0.7165
Epoch 36/100
804/804 [==============================] - 1s 897us/step - loss: 0.5783 - accuracy: 0.7144
Epoch 37/100
804/804 [==============================] - 1s 887us/step - loss: 0.5777 - accuracy: 0.7161
Epoch 38/100
804/804 [==============================] - 1s 900us/step - loss: 0.5778 - accuracy: 0.7149
Epoch 39/100
804/804 [==============================] - 1s 950us/step - loss: 0.5777 - accuracy: 0.7161
Epoch 40/100
804/804 [==============================] - 1s 872us/step - loss: 0.5775 - accuracy: 0.7166
Epoch 41/100
804/804 [==============================] - 1s 880us/step - loss: 0.5775 - accuracy: 0.7160
Epoch 42/100
804/804 [==============================] - 1s 941us/step - loss: 0.5771 - accuracy: 0.7168
Epoch 43/100
804/804 [==============================] - 1s 828us/step - loss: 0.5770 - accuracy: 0.7164
Epoch 44/100
804/804 [==============================] - 1s 899us/step - loss: 0.5772 - accuracy: 0.7166
Epoch 45/100
804/804 [==============================] - 1s 898us/step - loss: 0.5769 - accuracy: 0.7148
Epoch 46/100
804/804 [==============================] - 1s 832us/step - loss: 0.5769 - accuracy: 0.7170
Epoch 47/100
804/804 [==============================] - 1s 844us/step - loss: 0.5770 - accuracy: 0.7161
Epoch 48/100
804/804 [==============================] - 1s 804us/step - loss: 0.5767 - accuracy: 0.7147
Epoch 49/100
804/804 [==============================] - 1s 804us/step - loss: 0.5765 - accuracy: 0.7180
Epoch 50/100
804/804 [==============================] - 1s 870us/step - loss: 0.5763 - accuracy: 0.7177
Epoch 51/100
804/804 [==============================] - 1s 968us/step - loss: 0.5764 - accuracy: 0.7177
Epoch 52/100
804/804 [==============================] - 1s 841us/step - loss: 0.5767 - accuracy: 0.7160
Epoch 53/100
804/804 [==============================] - 1s 829us/step - loss: 0.5762 - accuracy: 0.7176
Epoch 54/100
804/804 [==============================] - 1s 836us/step - loss: 0.5760 - accuracy: 0.7171
Epoch 55/100
804/804 [==============================] - 1s 827us/step - loss: 0.5764 - accuracy: 0.7175
Epoch 56/100
804/804 [==============================] - 1s 817us/step - loss: 0.5763 - accuracy: 0.7156
Epoch 57/100
804/804 [==============================] - 1s 836us/step - loss: 0.5759 - accuracy: 0.7177
Epoch 58/100
804/804 [==============================] - 1s 831us/step - loss: 0.5759 - accuracy: 0.7168
Epoch 59/100
804/804 [==============================] - 1s 814us/step - loss: 0.5759 - accuracy: 0.7168
Epoch 60/100
804/804 [==============================] - 1s 806us/step - loss: 0.5756 - accuracy: 0.7166
Epoch 61/100
804/804 [==============================] - 1s 804us/step - loss: 0.5757 - accuracy: 0.7180
Epoch 62/100
804/804 [==============================] - 1s 807us/step - loss: 0.5757 - accuracy: 0.7170
Epoch 63/100
804/804 [==============================] - 1s 802us/step - loss: 0.5757 - accuracy: 0.7165
Epoch 64/100
804/804 [==============================] - 1s 807us/step - loss: 0.5756 - accuracy: 0.7173
Epoch 65/100
804/804 [==============================] - 1s 806us/step - loss: 0.5753 - accuracy: 0.7177
Epoch 66/100
804/804 [==============================] - 1s 822us/step - loss: 0.5752 - accuracy: 0.7172
Epoch 67/100
804/804 [==============================] - 1s 799us/step - loss: 0.5752 - accuracy: 0.7176
Epoch 68/100
804/804 [==============================] - 1s 795us/step - loss: 0.5754 - accuracy: 0.7173
Epoch 69/100
804/804 [==============================] - 1s 809us/step - loss: 0.5753 - accuracy: 0.7175
Epoch 70/100
804/804 [==============================] - 1s 809us/step - loss: 0.5749 - accuracy: 0.7173
Epoch 71/100
804/804 [==============================] - 1s 804us/step - loss: 0.5748 - accuracy: 0.7180
Epoch 72/100
804/804 [==============================] - 1s 801us/step - loss: 0.5751 - accuracy: 0.7179
Epoch 73/100
804/804 [==============================] - 1s 809us/step - loss: 0.5754 - accuracy: 0.7177
Epoch 74/100
804/804 [==============================] - 1s 809us/step - loss: 0.5755 - accuracy: 0.7176
Epoch 75/100
804/804 [==============================] - 1s 813us/step - loss: 0.5756 - accuracy: 0.7181
Epoch 76/100
804/804 [==============================] - 1s 884us/step - loss: 0.5750 - accuracy: 0.7171
Epoch 77/100
804/804 [==============================] - 1s 806us/step - loss: 0.5751 - accuracy: 0.7179
Epoch 78/100
804/804 [==============================] - 1s 793us/step - loss: 0.5749 - accuracy: 0.7179
Epoch 79/100
804/804 [==============================] - 1s 799us/step - loss: 0.5748 - accuracy: 0.7178
Epoch 80/100
804/804 [==============================] - 1s 795us/step - loss: 0.5747 - accuracy: 0.7185
Epoch 81/100
804/804 [==============================] - 1s 848us/step - loss: 0.5745 - accuracy: 0.7174
Epoch 82/100
804/804 [==============================] - 1s 806us/step - loss: 0.5746 - accuracy: 0.7180
Epoch 83/100
804/804 [==============================] - 1s 808us/step - loss: 0.5747 - accuracy: 0.7179
Epoch 84/100
804/804 [==============================] - 1s 808us/step - loss: 0.5744 - accuracy: 0.7182
Epoch 85/100
804/804 [==============================] - 1s 829us/step - loss: 0.5747 - accuracy: 0.7189
Epoch 86/100
804/804 [==============================] - 1s 808us/step - loss: 0.5744 - accuracy: 0.7175
Epoch 87/100
804/804 [==============================] - 1s 813us/step - loss: 0.5745 - accuracy: 0.7185
Epoch 88/100
804/804 [==============================] - 1s 822us/step - loss: 0.5747 - accuracy: 0.7179
Epoch 89/100
804/804 [==============================] - 1s 804us/step - loss: 0.5746 - accuracy: 0.7182
Epoch 90/100
804/804 [==============================] - 1s 793us/step - loss: 0.5745 - accuracy: 0.7178
Epoch 91/100
804/804 [==============================] - 1s 802us/step - loss: 0.5745 - accuracy: 0.7178
Epoch 92/100
804/804 [==============================] - 1s 792us/step - loss: 0.5742 - accuracy: 0.7186
Epoch 93/100
804/804 [==============================] - 1s 814us/step - loss: 0.5745 - accuracy: 0.7185
Epoch 94/100
804/804 [==============================] - 1s 807us/step - loss: 0.5743 - accuracy: 0.7181
Epoch 95/100
804/804 [==============================] - 1s 806us/step - loss: 0.5743 - accuracy: 0.7175
Epoch 96/100
804/804 [==============================] - 1s 842us/step - loss: 0.5744 - accuracy: 0.7175
Epoch 97/100
804/804 [==============================] - 1s 938us/step - loss: 0.5743 - accuracy: 0.7179
Epoch 98/100
804/804 [==============================] - 1s 884us/step - loss: 0.5744 - accuracy: 0.7169
Epoch 99/100
804/804 [==============================] - 1s 879us/step - loss: 0.5741 - accuracy: 0.7179
Epoch 100/100
804/804 [==============================] - 1s 808us/step - loss: 0.5743 - accuracy: 0.7177

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5890 - accuracy: 0.7115
Loss: 0.5889840126037598, Accuracy: 0.7114868760108948

In [17]:
# Export our model to HDF5 file
nn.save("nn_model.h5")